/********************
GENERAL
********************/

@font-face {
	font-family: 'helveticaneuecyrthin';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
	src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
	src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'archiveregular';
  src: url('../fonts/archive-webfont.eot');
  src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/archive-webfont.woff') format('woff'),
       url('../fonts/archive-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyrlight';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-light-webfont.eot');
	src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'helveticaneuecyrroman';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
	src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'bebas_neuebook';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bebasneue_book-webfont.eot');
	src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue_book-webfont.woff') format('woff'),
	url('../fonts/bebasneue_book-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'bebas_neuebold';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bebasneue_bold-webfont.eot');
	src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
	url('../fonts/bebasneue_bold-webfont.ttf') format('truetype');
}

*:before,
*:after {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

p,
h3,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
ul {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
	cursor: default;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

section,
header {
	margin-right: auto;
	margin-left: auto;
	max-width: 1920px;
}

.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	max-width: 1044px;
}

.container:after {
	clear: both;
}

.container:after,
.container:before {
	display: table;
	content: ' ';
}

.clearfix:after {
	clear: both;
}

.clearfix:after,
.clearfix:before {
	display: table;
	content: ' ';
}

body {
	font-family: Arial,sans-serif;
	color: #000;
}



/********************
HEADER
********************/

.header-left {
	margin-top: 12px;
	margin-bottom: 28px;
	float: left;
	width: 61%;
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 67px;
	float: left;
}

.discript-header-txt {
	float: left;
	margin-top: 30px;
	padding-left: 9px;
	line-height: 22px;
	font-size: 16px;
	border-left: 1px solid #09c6f4;
	margin-left: 28px;
}

.header-right {
	margin-top: 39px;
	float: right;
	width: 30%;
}

.header-tel {
	font-size: 24px;
	text-align: right;
}



/********************
SEC-1
********************/

.sec-1 {
	background: url(../img/sec-1-bg.png) center no-repeat;
	background-size: cover;
}

.sec-1-left {
	float: left;
	width: 62%;
}

.workers {
	position: absolute;
	top: 10px;
	width: 400px;
	height: 531px;
	background: url(../img/workers.png) center no-repeat;
	background-size: cover;
	right: 40%;
}

.sec-1-txt-block-top {
	position: relative;
	z-index: 5;
	max-width: 565px;
	margin-top: 180px;
	padding: 18px 0 9px 25px;
	background-color: #1886db;
}

.sec-1-txt-block-top p {
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.sec-1-txt-block-top h3 {
	font-size: 52.8px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.sec-1-txt-block-bot {
	position: relative;
	z-index: 5;
	margin-bottom: 122px;
	max-width: 565px;
	padding: 10px 0 9px 25px;
	background-color: #09c6f4;
}

.sec-1-txt-block-bot p {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.sec-1-form-block,
.sec-5-form-block {
	position: relative;
	margin-top: 60px;
	margin-bottom: 52px;
	float: left;
	width: 38%;
	height: 430px;
	background: url(../img/form-bg.png) center no-repeat;
}

.sec-1-form-header,
.sec-5-form-header {
	padding: 38px 20px;
	font-size: 22px;
	line-height: 1.2;
	text-align: center;
	color: #fff;
}

.sec-1-form,
.sec-5-form {
	padding-right: 20px;
	padding-left: 20px;
}

.form-group {
	margin-right: auto;
	margin-bottom: 24px;
	margin-left: auto;
	width: 100%;
	max-width: 354px;
}

.form-control {
	padding: 0;
	padding-right: 14px;
	padding-left: 14px;
	display: block;
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.form-control::-moz-placeholder {
	color: #878686;
}
.form-control:-ms-input-placeholder {
	color: #878686;
}
.form-control::-webkit-input-placeholder {
	color: #878686;
}

.sec-1-form-btn,
.sec-5-form-btn {
	margin-right: auto;
	margin-left: auto;
	display: block;
	max-width: 354px;
	width: 100%;
	font-size: 49px;
	color: #55330b;
	background: linear-gradient(to bottom, #f4db09 0%, #ffc600 100%);
	border: none;
	font-family: 'archiveregular';
	border: 2px solid #e8e8e8;
	height: 105px;
	margin-bottom: 21px;
}



/********************
SEC-2
********************/

.sec-2-header {
	margin-top: 72px;
	margin-bottom: 56px;
	font-family: 'helveticaneuecyrbold';
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	color: #03c2f3;
}

.choose-us-block {
	margin: 23px auto 96px;
	float: left;
}

.choose-us-block:first-of-type {
	width: 100%;
	max-width: 332px;
}

.choose-us-block:nth-of-type(2) {
	width: 100%;
	max-width: 392px;
}

.choose-us-block:last-of-type {
	width: 100%;
	max-width: 300px;
}

.choose-us-img {
	margin-right: 20px;
	float: left;
}

.choose-us-block p {
	margin-top: 34px;
	font-size: 21px;
	text-transform: uppercase;
}

.choose-us-block p span {
	font-weight: bold;
}



/********************
SEC-3
********************/

.sec-3 {
	background: url(../img/bg-red.png) center no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
}

.sec-3-header {
	margin-top: 83px;
	margin-bottom: 43px;
	font-family: 'helveticaneuecyrbold';
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.sec-3-block {
	margin-bottom: 22px;
	float: left;
	width: 20%;
	text-align: center;
	margin-bottom: 83px;
}

.sec-3-img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.sec-3-txt {
	margin-top: 24px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}


/********************
SEC-4
********************/

.sec-4-header {
	margin-top: 92px;
	margin-bottom: 69px;
	font-family: 'helveticaneuecyrbold';
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	color: #272727;
}

.sec-4-txt {
	position: relative;
	margin-bottom: 4px;
	padding-top: 13px;
	padding-bottom: 13px;
	width: 100%;
	max-width: 460px;
	font-size: 30px;
	background: linear-gradient(to bottom, #fff005 0%, #ffd200 100%);
	text-align: center;
}

.sec-4-txt:after {
	position: absolute;
	top: 0;
	left: -33px;
	content: url(../img/left-bg-txt.png);
}

.sec-4-txt:before {
	position: absolute;
	top: 0;
	right: -20px;
	content: url(../img/right-bg-txt.png);
}

.sec-4-txt:first-of-type {
	left: 25px;
}

.sec-4-txt:nth-of-type(2) {
	left: 35px;
}

.sec-4-txt:last-of-type {
	left: 50px;
}


.sec-4 .container {
	z-index: -2;
	top: 0;
	height: 558px;
	min-height: 700px;
	background: url(../img/what-we-do.png) 270px 202px no-repeat;
	margin-bottom: 24px;
}


/********************
SEC-5
********************/

.sec-5 {
	background: url(../img/blue-bg.png) center no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
}

.sec-5-left {
	position: relative;
	float: left;
	width: 62%;
}

.arrow {
	position: absolute;
	z-index: 2;
	right: 25px;
}

.sec-5-header {
	position: relative;
	z-index: 3;
	margin-top: 200px;
	margin-bottom: 50px;
	margin-left: 24px;
	font-size: 92px;
	font-weight: bold;
	line-height: .8;
	text-transform: uppercase;
	color: #fff;
}

.sec-5-header span {
	font-size: 62px;
}

.sec-5-txt {
	position: relative;
	z-index: 99;
	margin-bottom: 4px;
	padding-top: 7px;
	padding-bottom: 1px;
	padding-left: 22px;
	font-size: 53px;
	font-weight: bold;
	text-transform: uppercase;
	color: #24b4d7;
	background-color: #fff;
	max-width: 500px;
}

.sec-5-txt:after {
	content: '';
	position: absolute;
	left: -21px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 61px 21px;
	border-color: transparent transparent #ffffff transparent;
}

.sec-5-txt:before {
	content: '';
	position: absolute;
	right: -21px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 61px 21px 0 0;
	border-color: #ffffff transparent transparent transparent;
}

.sec-5-form-block {
	margin-top: 141px;
	margin-bottom: 71px;
}



/********************
SEC-6
********************/

.sec-6-header {
	margin-top: 61px;
	margin-bottom: 61px;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #03c2f3;
	font-family: 'helveticaneuecyrbold';
}

.advantages-block {
	margin-bottom: 68px;
	float: left;
}

.advantages-block:nth-child(odd) {
	width: 42%;
	min-height: 1px;
}

.advantages-block:nth-child(even) {
	width: 58%;
	min-height: 1px;
}

.advantages-block:last-child {
	margin-bottom: 173px;
}

.advantages-block img {
	margin-right: 35px;
	float: left;
}

.advantages-block-txt {
	margin-top: 46px;
	font-size: 22px;
	text-transform: uppercase;
}

.advantages-block-txt span {
	font-weight: bold;
}


/********************
SEC-7
********************/

.sec-7 {
	text-align: center;
	background: url(../img/lightblue-bg.png) center no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
}

.sec-7-header {
	margin-top: 68px;
	margin-bottom: 80px;
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-family: 'helveticaneuecyrbold';
}

.step-block {
	position: relative;
	float: left;
	width: 25%;
}

.step-block-digit {
	color: #fff;
	font-size: 60px;
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
}

.step-block:after {
	position: absolute;
	top: 57px;
	right: -20px;
	content: url(../img/arrow.png);
}

.step-block:last-of-type:after {
	content: '';
}

.step-block-img {
	margin-bottom: 22px;
}

.step-block-txt {
	margin-bottom: 101px;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
}



/********************
SEC-8
********************/

.sec-8 {
	background-color: #054a5b;
}

.sec-8 .container {
	padding-left: 43px;
	padding-right: 43px;
	padding-bottom: 55px;
}

.sec-8-left {
	max-width: 621px;
	width: 100%;
	float: left;
}

.adress-list {
	float: left;
	color: #fff;
	font-size: 16px;
	width: 33%;
	margin-top: 40px;
	margin-bottom: 15px;
}

.adress-list-header {
	font-family: 'helveticaneuecyrbold'!important;
	margin-top: 5px;
}

.adress-list li {
	font-family: 'helveticaneuecyrroman';
	line-height: 1.2;
}

.map {
	width: 100%;
	height: 247px;
	border: 4px solid #24323e;
	margin-top: 25px;
}

.sec-8-right {
	max-width: 315px;
	width: 100%;
	float: right;
}

.form-question {
	margin-top: 62px;
	margin-bottom: 12px;
	font-size: 44px;
	text-align: center;
	color: #fff;
	font-family: 'bebas_neuebook';
}

.form-question span {
	font-family: 'bebas_neuebold';
}

.sec-8-form {
	max-width: 301px;
	margin-left: auto;
	margin-right: auto;
}

.sec-8-form .form-group {
	position: relative;
	margin-bottom: 5px;
}

.form-ico {
	position: absolute;
	top: 1px;
	left: 1px;
}

.sec-8-form .form-control {
	padding-left: 49px;
	height: 42px;
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
}

textarea {
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
}

textarea:-moz-placeholder { color: #fff; }

textarea::-webkit-input-placeholder { color: #fff; }

.sec-8-btn {
	margin-top: 5px;
	width: 100%;
	font-family: 'bebas_neuebold';
	font-size: 35px;
	background: linear-gradient(to bottom, #f4db0a 0%, #ffc600 100%);
	border-radius: 6px;
	color: #55330b;
	border: none;
}

.sec-8-form .form-control::-moz-placeholder {
	color: #fff;
}
.sec-8-form .form-control:-ms-input-placeholder {
	color: #fff;
}
.sec-8-form .form-control::-webkit-input-placeholder {
	color: #fff;
}



/********************
FOOTER
********************/

footer {
	background-color: #11acd3;
	min-height: 44px;
}

.elas-logo {
	position: absolute;
	top: -36px;
	right: 150px;
}

.elas-circle {
	transition: all ease-in .2s;

	clip-rule: evenodd;
	fill: #1ca7d9;
	fill-rule: evenodd;
}

.elas-name {
	clip-rule: evenodd;
	fill: #173540;
	fill-rule: evenodd;
}

.elas-link {
	font-family: 'helveticaneuecyrthin';
	font-size: 12px;
	transition: all ease-in .2s;

	fill: #173540;
}


/********************
RESPONSIVE
********************/

@media (max-width: 768px) {

	.logo {
		float: none;
	}

	.header-right,
	.header-left {
		margin-top: 0;
		width: 100%;
		text-align: center;
	}

	.discript-header-txt {
		float: none;
		border-left: none;
	}

	.header-tel {
		margin-bottom: 25px;
		text-align: center;
	}

	.sec-1-left {
		float: none;
		width: 100%;
	}

	.sec-1-txt-block-top {
		margin-top: 15px;
		padding: 8px;
		max-width: 100%;
		text-align: center;
	}

	.sec-1-txt-block-top h3 {
		margin-top: 15px;
		font-size: 26px;
	}

	.sec-1-txt-block-bot {
		margin-bottom: 15px;
		padding: 8px;
		max-width: 100%;
		text-align: center;
	}

	.sec-1-form-block,
	.sec-5-form-block {
		margin-top: 25px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 100%;
	}

	.workers {
		display: none;
	}
	.choose-us-block:first-of-type,
	.choose-us-block:nth-of-type(2),
	.choose-us-block:last-of-type {
		max-width: none;
		text-align: center;
	}

	.choose-us-img {
		max-width: 40%;
		height: auto;
		float: none;
		margin-right: 0;
	}

	.choose-us-block p {
		font-size: 16px;
	}

	.sec-3-header {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.sec-3-block {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	.sec-4-header {
		left: 0;
		margin-top: 45px;
		margin-bottom: 45px;
	}

	.sec-4-txt:first-of-type,
	.sec-4-txt:nth-of-type(2),
	.sec-4-txt:last-of-type {
		left: 0;
	}

	.sec-4-txt {
		max-width: none;
		text-align: center;
	}

	.sec-4-txt:before {
		content: '';
	}

	.sec-4-txt:after {
		content: '';
	}

	.sec-4 .container {
		padding-bottom: 25px;
		height: auto;
		min-height: 1px;
		background: none;
	}

	.arrow {
		display: none;
	}

	.sec-5-left {
		float: none;
		width: 100%;
	}

	.sec-5-header {
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 0;
		font-size: 72px;
		text-align: center;
	}

	.sec-5-header span {
		font-size: 36px;
	}

	.sec-5-txt {
		margin-left: 0;
		max-width: none;
		font-size: 46px;
		text-align: center;
	}

	.sec-6-header {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.adv-block:nth-child(even) {
		width: 100%;
	}

	.adv-block:nth-child(odd) {
		width: 100%;
	}

	.adv-block img {
		margin-right: auto;
		margin-left: auto;
		display: block;
		float: none;
	}

	.adv-block-txt {
		margin-top: 10px;
		text-align: center;
	}

	.adv-block:last-child {
		margin-bottom: 25px;
	}

	.step-block {
		width: 100%;
	}

	.step-block:after {
		content: '';
	}

	.step-block-txt {
		margin-bottom: 25px;
	}

	.sec-5-txt:before,
	.sec-5-txt:after {
		border-width: 0;
	}
}

@media (min-width: 769px) and (max-width: 1000px) {

	.discript-header-txt {
		margin-top: 0;
		margin-left: 0;
		line-height: 1;
	}

	.sec-1-left {
		width: 50%;
	}

	.sec-1-form-block,
	.sec-5-form-block,
	.sec-5-left {
		width: 50%;
	}

	.sec-5-header {
		margin-bottom: 0;
	}

	.arrow {
		right: 0;
	}

	.sec-5-txt:before,
	.sec-5-txt:after {
		border-width: 0;
	}

	.sec-5-txt {
		font-size: 50px;
	}

	.sec-1-txt-block-top h3 {
		font-size: 34px;
	}

	.choose-us-block:first-of-type,
	.choose-us-block:nth-of-type(2),
	.choose-us-block:last-of-type {
		max-width: none;
		width: 33%;
		text-align: center;
	}

	.choose-us-img {
		float: none;
		margin-right: 0;
	}

	.sec-5-header {
		margin-left: 0;
		font-size: 76px;
	}

	.sec-5-header span {
		font-size: 56px;
	}

	.sec-5-txt {
		margin-left: 0;
	}

}

@media (max-width: 1040px) {
	.sec-8-left,
	.sec-8-right {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 600px) {

	.adress-list {
		float: none;
		margin-top: 10px;
		width: 100%;
	}

	.sec-7-header {
		font-size: 34px;
		margin-bottom: 35px;
		margin-top: 35px;
	}

	.sec-6-header {
		font-size: 30px;
	}

	.sec-1-form-btn, .sec-5-form-btn {
		font-size: 40px;
		height: 70px;
	}

	.choose-us-img {
		max-width: none;
	}

	.sec-3-header {
		font-size: 36px;
	}
}
